<div class="search-bar">
    <div class="main-header" [class.hidden]="isSearching">
        <mat-toolbar-row
            style="padding: 0 5px; display: flex; flex-direction: row; flex:1; align-items: center; justify-content: space-between;"
            (click)="initiateSearch()">
            <div style="padding: 0 0 0 10px;">
                <div class="mat-subheading-2" style="margin-bottom:2px;">{{placeholder}}</div>
            </div>

            <button mat-icon-button (click)="initiateSearch()">
                <mat-icon>search</mat-icon>
            </button>
        </mat-toolbar-row>
    </div>

    <div class="search-block" [class.active]="isSearching">
        <mat-toolbar-row
            style="padding: 0 5px; display: flex; flex-direction: row; flex:1; align-items: center; justify-content: space-between;">
            <button class="search-icon" mat-icon-button disabled *ngIf="!isPending">
                <mat-icon>search</mat-icon>
            </button>
            <mat-spinner mode="indeterminate" *ngIf="isPending" diameter="30"></mat-spinner>
            <input class="search-control" type="text" placeholder="Search" [value]="searchKey" #searchbar autofocus>
            <button mat-button mat-icon-button (click)="stopSeach()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </div>

    <mat-list class="search-list" *ngIf="list.length">
        <div *ngFor="let item of list"
            style="display: flex; flex:1; padding:10px; border-bottom:solid 1px #ececec; flex-direction: row; align-items: center;">
            <mat-icon matListAvatar style="margin: 10px;">person</mat-icon>
            <div style="flex-direction: column; flex:1;">
                <div matLine>{{item.username | dotize:15}}</div>
                <div matLine>{{item.email | dotize:15}}</div>
            </div>
            <button mat-button color="primary">
                <mat-icon>add</mat-icon>
                <span>Add</span>
            </button>
        </div>
        <mat-list-item *ngIf="(list).length === 0">
            <mat-icon mat-list-avatar>error</mat-icon>
            <div mat-line>0 results</div>
        </mat-list-item>
    </mat-list>
</div>