#map {
  display: flex;
  flex: 1;
}
.dashboard-viewport {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
  justify-content: center;
}
.dashboard-toolbar {
  display: flex;
  position: absolute;
  margin: 2px auto;
  min-width: 400px;
  z-index: 10;
  background-color: white;
  padding: 5px;
  border-radius: 30px;
  justify-content: stretch;
}
